[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-phonenumber-field = "*"
django-heroku = "*"
gunicorn = "*"
python-dotenv = "*"
psycopg2 = "*"
psycopg2-binary = "*"
tk = "*"

[dev-packages]

[requires]
python_version = "3.10"
