@import url('https://fonts.googleapis.com/css2?family=Caladea&family=Cardo:wght@700&display=swap');

h3, h4 {
    font-family: 'Cardo', serif;
}

p, span, a, li {
    font-family: 'Caladea', serif;
}

nav {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    height: 6.5vh;
    background-color: #323B58;
    border-radius: 3px;
}

nav a {
    text-decoration: none;
}

/* ICONS */
/* Home */
.material-symbols-outlined {
    color:  #F4C0C0;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

/* Profile Page */
#base_user_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2vh;
}

.bio {
    text-align: center;
}

#base_user_info img {
    border-radius: 50%;
    width: 30vw;
}

.user_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vh;
}

.vehicle_info {
    border: 1px solid #ECBABA;
    border-radius: 4px;
    padding-left: 1vh;
    padding-right: 1vh;
}

#user_options {
    display: flex;
}

#user_options span {
    padding: 1vh;
}

#settings:hover {
    cursor: pointer;
}

#edit_page {
    display: none;
    flex-direction: column;
    border-radius: 5px;
    padding: 1vh;
    position: absolute; 
    left: 56.5%;
    top: 32%;
    Background-color: #84AFB7;
}

#edit_page a {
    text-decoration: none;
    color: #6F3757;
    padding: .5vh;
}

.vehicle_list {
    list-style-type: none;
}

.vehicle_list li {
    padding: 3px;
    color: blue;
}

.vehicle_list li span {
    color: #6C3654;
}

#available {
    color: green;
}

#not_available {
    color: red;
}

.availability {
    display: flex;
    align-items: center;
}

.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.review_selector {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #BA7D85;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#by_me {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-top-left-radius: 5px;
    background-color: #ECBABA;
}

#by_me:hover {
    cursor: pointer;
}

#about_me {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-top-right-radius: 5px;
    background-color: #BA7D85
}

#about_me:hover {
    cursor: pointer;
}

.reviews_about_me {
    display: none;
    border: 1px dashed #BA7D85;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.reviews_ive_written {
    display: flex;
    border: 1px dashed #BA7D85;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}