@import url('https://fonts.googleapis.com/css2?family=Caladea&family=Cardo:wght@700&display=swap');

h1, h3, h4 {
    font-family: 'Cardo', serif;
}

h1 {
    color: #5A8494;
}

p, span, a, li {
    font-family: 'Caladea', serif;
}

a {
    text-decoration: none;
    color: #84AFB7;
}

nav {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    height: 6.5vh;
    background-color: #323B58;
    border-radius: 3px;
    position: sticky;
    top: 0;
}

nav a {
    text-decoration: none;
}

/* ICONS */
/* Home */
.material-symbols-outlined {
    color:  #5A8494;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

/* Profile Page */
#base_user_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4vh 2vh 2vh 2vh;
}

.bio {
    text-align: center;
}

#base_user_info img {
    border-radius: 50%;
    width: 30vw;
    height: 30vw;
}

.user_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vh;
}

#user_details {
    display: flex;
    padding: 5px;
}

#user_details a {
    padding: 8px;
}

.vehicle_info {
    border: 1px solid #5A8494;
    border-radius: 4px;
    padding-left: 1vh;
    padding-right: 1vh;
}

#user_options {
    display: flex;
}

#user_options span {
    padding: 1vh;
}

#settings:hover {
    cursor: pointer;
}

#edit_page {
    display: none;
    margin-top: 5px;
    justify-content: space-between;
    border-radius: 5px;
    padding: 1vh;
    border: 2px dashed #84AFB7;
}

#edit_page a {
    text-decoration: none;
}

#edit_profile {
    padding-left: 2vh;
}

.vehicle_list {
    list-style-type: none;
}

.vehicle_list li {
    padding: 3px;
    color: black;
}

.vehicle_list li span {
    color: #323B58;
}

#available {
    color: green;
}

#not_available {
    color: red;
}

.availability {
    display: flex;
    align-items: center;
}

.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.review_selector {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #84AFB7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#by_me {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-top-left-radius: 5px;
    background-color: #84AFB7;
}

#by_me:hover {
    cursor: pointer;
}

#about_me {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-top-right-radius: 5px;
    background-color: #5A8494;
}

#about_me:hover {
    cursor: pointer;
}

.reviews_about_me {
    display: none;
    flex-direction: column;
    border-left: 1px dashed #84AFB7;
    border-right: 1px dashed #84AFB7;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.about_me_review {
    padding: 2%;
    border-bottom: 1px dashed #84AFB7;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
}

.reviews_ive_written {
    display: flex;
    border-left: 1px dashed #84AFB7;
    border-right: 1px dashed #84AFB7;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.review {
    padding: 2%;
    border-top: 1px dashed #84AFB7;
    border-bottom: 1px dashed #84AFB7;
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
}

.edit_review {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.edit_review a {
    padding: 5px;
}

.no_reviews {
    padding-left: 2%;
    padding-right: 2%;
    width: 100%;
    border-top: 1px dashed #84AFB7;
    border-bottom: 1px dashed #84AFB7;
    border-radius: 5px;
}

.about_me_no_review {
    padding-left: 2%;
    padding-right: 2%;
    border-top: 1px dashed #84AFB7;
    border-bottom: 1px dashed #84AFB7;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
}

.review_details {
    padding: 2%;
}

#reviews_title {
    display: flex;
    align-items: center;
}

#user_name {
    display: flex;
    align-items: center;
}


/* CONTACT PAGE */
#search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2vh;
}

#search div {
    display: flex;
    align-items: center;
}

#submit_btn {
    background-color: white;
    border: none;
}

.contact_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px dashed #84AFB7;
}

.contact_info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.contact_info span {
    display: flex;
    align-items: center;
}

.contact_info span span {
    padding: 5px;
}

.contact_info a {
    text-decoration: none;
}

.contact_info div {
    display: flex;
}

#contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

#contact_list {
    width: 100%;
}
.contacts_details {
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
}

.contacts_details div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.img_about {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.img_about img {
    padding: 5px;
}

.details {
    color: #323B58;
}

.contact_options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70px;
}

.current_contact_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border: 1px solid #84AFB7;
    border-radius: 5px;
}

.current_contact_info img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

/* FORMS */
.form form p{
    display: flex;
    flex-direction: column;
}

.form form {
    border: 1px solid #5A8494;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    margin: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avail_form {
    border: 1px solid #5A8494;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    margin: 10px;
}

.avail_for form p{
    display: flex;
    flex-direction: column;
}

.avail_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avail_form p {
    text-align: center;
}

form div {
    display: flex;
    justify-content: center;
}

form div button {
    background-color: #5A8494;
    color: #84AFB7;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.delete_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.delete_form form {
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    margin: 10px;
}
.delete_form_options {
    display: flex;
    flex-direction: column;
}

.delete_form_options input {
    background-color: #5A8494;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 0 0 5px 0;
}

/* LANDING */
.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 15vh;
}

#landing_actions {
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding: 5vh;
}

#landing_actions a {
    border: 1px solid black;
    border-radius: 5px;
    padding: 2vh;
    background-color: #5A8494;
}

/* ABOUT */
#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about div {
    width: 80vw;
}

#back {
    padding: 20px;
}

/* RESPONSIVE DESIGN */
@media screen and (min-width: 650px) {
    #base_user_info img {
        height: 50px;
        width: 50px;
    }
}
