{% extends 'base.html' %}

{% block content %}
<div id="about"> 
    <div>
        <h1>How it works</h1>
        <div>
            <p>TipTrip was made to help people get around without needing to pay a lot or get in the car with a stranger. This app connects you with people you already know to see if they have a vehicle and are able to either pick you up or let you borrow their car.</p>
            <div>
                <p>Sign up:<br>Create an account and enter in your location and your vehicle information if you have one. If you do plan to be a driver or offer your car, you can set a custom fee so your friends know what to expect.</p>
                <p>Add your friends:<br>Navigate to the contacts section to find your friends so you can see who is available with a car and what car they have.</p>
                <p>Set Your Availability:<br>Setting your availability lets your friends know if you are currently available to pick them up or for them to come borrow your car.</p>
                <p>Message Friends:<br>TipTrip utilizes your devices sms messaging app to communicate with your friends.</p>
                <ul> 
                    <li>
                        See that a friend is listed as available? <br>Send them a text to see if they can pick you up or schedule a time to pick you up.
                    </li>
                    <li>
                        See that they aren't available?<br>Send them a text asking if you can borrow their car at a later date.
                    </li>
                    <li>
                        Moving and specifically need a truck?<br>Search through your contacts to see which of your friends has a truck and send them a text to see if you can borrow it!
                    </li>
                </ul>
                <p>Rate your friends:<br>Have some feedback you want to leave for you your friends so others can see if they are dependable? Leave them a review through the app so others can see it when they view their friends page.</p>
                </div>
        </div>
    </div>
</div>
{% endblock %}