{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}" /> 
    <link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="{% static 'scripts/app.js' %}" defer></script>
    <title>TipTrip</title>
</head>
<body>
    <nav>
        {% if user.is_authenticated %}
            <a href="{% url 'contacts' user.id %}">
                <span class="material-symbols-outlined">
                contacts
                </span></a>
            <a href="{% url 'profile' user.pk %}">
                <span class="material-symbols-outlined">
                home
                </span></a>
            <a href="{% url 'logout' %}">
                <span class="material-symbols-outlined">
                logout
                </span></a>
        {% else %}
            <a href="{% url 'signup' %}">
                <span class="material-symbols-outlined">
                person_add
                </span></a>
            <a href="{% url 'login' %}">
                <span class="material-symbols-outlined">
                login
                </span></a>
        {% endif %}
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>