{% extends 'base.html' %}

{% block content %}
    <form>
        <div>
            <input type="text" name="phone_number" placeholder="Phone number (No dashes)"/>
            <input type="submit" value="Search" />
        </div>
        <a href="{% url 'contacts' user.pk %}">Clear Search</a>
    </form>

    <h1>{{header}}</h1>
    {% for contact in contacts %}
        <p>{{contact.name}}</p>
        <a href="{% url 'add_contact' user.pk contact.pk %}">Add</a>
    {% endfor %}
    <h4>Your Contacts</h4>
    <ul>
        {% for contact in contact_info %}
            <li>
                <a href="{% url 'profile' contact.pk %}">{{contact.name}}</a><br>
                <span>Car Type: {{contact.vehicle_type}} |</span>
                <span>Seats: {{contact.num_seats}}</span><br>
                <span>Fee: {{contact.fee}} |</span>
                {% if contact.available == True %}
                    <span>Available: Yes</span>
                {% else %}
                    <span>Available: Yes</span>
                {% endif %}
                <br>
                <a href="sms:{{contact.phone_number}}">Text</a>
                <a href="{% url 'remove_contact' user.pk contact.pk %}">Remove</a>
            </li>
        {% empty %}
            <div>You have not added any contacts yet.</div>
        {% endfor %}
    </ul> 

{% endblock %}