{% extends 'base.html' %}

{% block content %}
<div id="base_user_info">
    {% if user_profile.image_link != "" %}
        <img src="{{user_profile.image_link}}" alt="{{user_profile.name}}" />
    {% else %}
        <img src="https://picsum.photos/200/200?grayscale" alt="Profile Image" />
    {% endif %}


    {% if loggedin_user.pk == user_account.pk %}
        <div class="user_info">
            <div id="user_name">
                <span>{{user_profile.name}} </span>
            </div>
            <span id="user_options">
                <a href="https://www.google.com/maps/place/{{user_profile.zip_code}}/" target="_blank">
                    <span class="material-symbols-outlined">
                    pin_drop
                    </span>
                </a> 
                <span id="settings" class="material-symbols-outlined">
                    settings
                </span>
            </span>
            {% if uer_profile.bio %}
                <span class="bio">{{user_profile.bio}}</span>
            {% else %}
                <span class="bio">You have not entered an about section.</span>
            {% endif %}
            <div id="edit_page">
                <a href="{% url 'delete_profile' user.pk %}">
                    <span class="material-symbols-outlined">
                        delete
                    </span>
                </a>
                <a id="edit_profile" href="{% url 'edit_profile' user.pk %}">
                    <span class="material-symbols-outlined">
                        edit
                    </span>
                </a>
            </div>
        </div>
    </div>
    <div class="vehicle_info">
        <h3>Vehicle Information:</h3>
        {% if user_profile.vehicle_type or user_profile.vehicle_make%}
            <ul class="vehicle_list">
                <li><span>Vehicle Type: </span>{{user_profile.vehicle_type}}</li>
                <li><span>Vehicle Make: </span>{{user_profile.vehicle_make}}</li>
                <li><span>Vehicle Model: </span>{{user_profile.vehicle_model}}</li>
                <li><span>Number of Seats: </span>{{user_profile.num_seats}}</li>
                <li><span>Fee: </span>{{user_profile.fee}}</li>
                <li>
                    <div class="availability">
                        <span>Currently Available: </span> 
                        {% if  user_profile.available%}
                            <span id="available" class="material-symbols-outlined">
                            check_circle
                            </span>
                        {% else %}
                            <span id="not_available" class="material-symbols-outlined">
                            cancel
                            </span>
                        {% endif %}
                        <span>
                            <a href="{% url 'edit_availability' user.pk %}">
                                <span class="material-symbols-outlined">
                                    edit
                                </span>
                            </a>
                        </span>
                    </div>
                </li>
            </ul>
        {% else %}
            <p>You have not entered any vehicle information.</p>
        {% endif %}
    </div>
    <div class="reviews">
        <h3>Reviews</h3>
        <div class="review_selector">
            <div id="by_me">
                <h4>By me</h4>
            </div>
            <div id="about_me">
                <h4>About me</h4>
            </div>
        </div>

    </div>
        <div class="reviews_about_me">
            {% if ratings %}
                {% for rating in ratings %}
                <div class="about_me_review">
                    <div class="review_details">
                        <h4>From: <a href="{% url 'profile' rating.reviewee.pk%}">{{rating.reviewer}}</a> | {{rating.rating}} Stars</h4>
                        <p>{{rating.comment}}</p>
                    </div>
                </div>
                {% endfor %}
            {% else %} 
            <div class="no_reviews">
                <p>No one has written a review about you.</p>
            </div>
            {% endif %}
        </div>
        <div class="reviews_ive_written">
            {% if ratings_ive_written %}
                {% for rating in ratings_ive_written %}
                    <div class="review">
                        <div class="review_details">
                            <h4><a href="{% url 'profile' rating.reviewee.pk%}">{{rating.reviewee}}</a> | {{rating.rating}} Stars</h4>
                            <p>{{rating.comment}}</p>
                        </div>
                        <div class="edit_review">
                            <a href="{% url 'delete_rating' rating.pk %}">
                                <span class="material-symbols-outlined">
                                delete
                                </span>
                            </a>
                            <a href="{% url 'edit_rating' rating.pk %}">
                                <span class="material-symbols-outlined">
                                edit
                                </span>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="no_reviews">
                    <p>You have not written any reviews.</p>
                </div>
            {% endif %}
        </div>
        <br>
    {% else %}
        <div class="user_info">
            <div id="user_name">
                <span>{{user_profile.name}} </span>
                {% if user_profile.vehicle_type or user_profile.vehicle_make%}
                    {% if  user_profile.available%}
                        <span id="available" class="material-symbols-outlined">
                        check_circle
                        </span>
                    {% else %}
                        <span id="not_available" class="material-symbols-outlined">
                        cancel
                        </span>
                    {% endif %}
                {% endif %}
            </div>
            <div id="user_details">
                <a href="https://www.google.com/maps/place/{{user_profile.zip_code}}/" target="_blank">
                    <span class="material-symbols-outlined">
                    pin_drop
                    </span>
                </a> 
                <a href="sms:{{user_profile.phone_number}}">
                    <span class="material-symbols-outlined">
                    sms
                    </span>
                </a>
            </div>
            <span class="bio">{{user_profile.bio}}</span>
        </div>
    </div>
        {% if user_profile.vehicle_type or user_profile.vehicle_make%}
        <div class="vehicle_info">
            <h4>Vehicle Information:</h4>
            <ul class="vehicle_list">
                <li><span>Vehicle Type: </span>{{user_profile.vehicle_type}}</li>
                <li><span>Vehicle Make: </span>{{user_profile.vehicle_make}}</li>
                <li><span>Vehicle Model: </span>{{user_profile.vehicle_model}}</li>
                <li><span>Number of Seats: </span>{{user_profile.num_seats}}</li>
                <li><span>Fee: </span>{{user_profile.fee}}</li>
            </ul>
        </div>
        {% endif %}
        <div class="reviews">
            <div id="reviews_title">
                <a href="{% url 'create_rating' loggedin_user.pk user_account.pk %}">
                    <span class="material-symbols-outlined">
                    add_circle
                    </span>
                </a>
                <h3>Reviews </h3>
            </div>
            {% if ratings %}
                {% for rating in ratings %}
                    <div class="review">
                        <div class="review_details">
                            <h4><a href="{% url 'profile' rating.reviewee.pk%}">{{rating.reviewer}}</a> | {{rating.rating}} Stars</h4>
                            <p>{{rating.comment}}</p>
                        </div>
                        {% if loggedin_user.pk == rating.reviewer.pk%}
                            <div class="edit_review">
                                <a href="{% url 'delete_rating' rating.pk %}">
                                    <span class="material-symbols-outlined">
                                    delete
                                    </span>
                                </a>
                                <a href="{% url 'edit_rating' rating.pk %}">
                                    <span class="material-symbols-outlined">
                                    edit
                                    </span>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            {% else %}
                <p>No one has written a review for {{user_profile.name}}.</p>
            {% endif %}
        </div>
    
    {% endif %}
    
    

    
{% endblock %}